@model String
<style type="text/css">
    #fnet_settings_f0 td {
        padding: 2px;
    }
</style>
<div id="fnet_settings_f0">
    <input type="hidden" id="fnet_settings_f0_data" value="@Html.Raw(Model)" />
    <table>
        <tr>
            <td colspan="3">Шрифт для выгрузки в Excel</td>
        </tr>
        <tr>
            <td style="width: 40px;"></td>
            <td style="text-align: right">Наименование</td>
            <td>
                <input type="text" name="[Шрифт для выгрузки в Excel].[Наименование]" value=""
                       style="width: 200px;" />
            </td>
        </tr>
        <tr>
            <td style="width: 40px;"></td>
            <td style="text-align: right">Размер</td>
            <td>
                <input type="text" name="[Шрифт для выгрузки в Excel].[Размер]" value=""
                       style="width: 200px; text-align: right; width: 30px"
                       onchange="Nskd.Validator.nNorm(this);" /><span>pt</span>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="3">Масштаб для выгрузки в Excel</td>
        </tr>
        <tr>
            <td style="width: 40px;"></td>
            <td style="text-align: right">Общий</td>
            <td>
                <input type="text" name="[Масштаб для выгрузки в Excel].[Общий]" value=""
                       style="width: 200px; text-align: right; width: 30px"
                       onchange="Nskd.Validator.nNorm(this);" /><span>%</span>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2" style="width: 100px">Использовать архив при поиске лекарственных средств</td>
            <td style="vertical-align: bottom">
                <input type="checkbox" />
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2" style="width: 100px">Скидка при оформлении передачи из ООО "Фарм-Сиб" в ООО "Гарза"</td>
            <td style="vertical-align: bottom">
                <input type="text" value="5" style="width: 30px; text-align: right" /><span>%</span>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><input type="button" value="Сохранить" disabled="disabled" onclick="SettingsF0.save();" /></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </table>
</div>
<script type="text/javascript">
    var SettingsF0 = (function () {

        var ds = eval('(' + $('#fnet_settings_f0_data').val() + ')');
        var dt = (ds && ds.tables && ds.tables.length > 0) ? ds.tables[0] : null;
        var inputs = $('#fnet_settings_f0 input[type="text"]');
        var inputArch = $('#fnet_settings_f0 input[type="checkbox"]');
        var saveButton = $('#fnet_settings_f0 input[type="button"][value="Сохранить"]');

        inputs.keyup(function () {
            saveButton.prop("disabled", false);
        });
        inputArch.change(function () {
            saveButton.prop("disabled", false);
        });

        refreshForm();

        function refreshForm() {
            if (dt != null) {
                for (var ri = 0; ri < dt.rows.length; ri++) {
                    var row = dt.rows[ri];
                    inputs.each(function (i, e) {
                        if (e.name == row.itemArray[2]) {
                            e.value = row.itemArray[3];
                        }
                    });
                    if (row.itemArray[2] == 'Использовать архив при поиске лекарственных средств'
                        && row.itemArray[3] == '1') {
                        inputArch.prop('checked', true);
                    } else {
                        inputArch.prop('checked', false);
                    }
                }
            }
        }
        function refreshData() {
            if (dt != null) {
                for (var ri = 0; ri < dt.rows.length; ri++) {
                    var row = dt.rows[ri];
                    inputs.each(function (i, e) {
                        if (e.name == row.itemArray[2]) {
                            var newValue = e.value;
                            if (row.itemArray[3] != newValue) {
                                row.itemArray[3] = newValue;
                                row.rowState = 'Modified';
                            }
                        }
                    });
                    if (row.itemArray[2] == 'Использовать архив при поиске лекарственных средств') {
                        var newValue = inputArch.prop('checked') ? '1' : '0';
                        if (row.itemArray[3] != newValue) {
                            row.itemArray[3] = newValue;
                            row.rowState = 'Modified';
                        }
                    }
                }
            }
        }
        return {
            save: function () {
                saveButton.prop("disabled", true);
                refreshData();
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Settings.F0.Save',
                    Parameters: []
                };
                for (var ri = 0; ri < dt.rows.length; ri++) {
                    var row = dt.rows[ri];
                    if (row.rowState == 'Modified') {
                        rqp.Parameters.push({ Name: row.itemArray[2], Value: row.itemArray[3] });
                    }
                }
                Nskd.Http.post({
                    url: '/Settings/F0/Save',
                    rqp: rqp,
                    done: function (data) {
                        ds = Nskd.Json.parse(data);
                        dt = (ds != null && ds.tables.length > 0) ? ds.tables[0] : null;
                        refreshForm();
                    }
                });
                inputs.val('');
                inputArch.prop('checked', false);
                dt = null;
            }
        };
    })();
</script>
