@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div>Debugging is enabled.</div>
}
<div id="fnet_settings_home_index">
    <input type="button" value="Settings" onclick="FnetSettingsHomeIndex.goToSettings();" />
</div>
<script type="text/javascript">
    var FnetSettingsHomeIndex = (function () {
        return {
            goToSettings: function () {
                var rqp = {
                    SessionId: Nskd.Server.SessionId
                };
                Nskd.Client.EnvVars.selectedMenuNodeUrl = '/settings/f0/';
                Nskd.Server.gotoTheNewPage(null, '#_layout_content');
                /*
                Nskd.Http.post({
                    url: '/settings/f0/',
                    rqp: rqp,
                    done: function (data) {
                        //alert(data);
                        $('#_layout_content').html(data);
                    }
                });
                */
            }
        };
    })();
</script>